@inject ICdnSetting cdnSetting

<meta charset="utf-8" />

<environment include="Localhost">
    <title>@ViewData["Title"] | Localhost</title>
</environment>
<environment include="Development">
    <title>@ViewData["Title"]  | Test</title>
</environment>
<environment include="Production">
    <title>@ViewData["Title"]  | Doğuş Oto Lastik</title>
</environment>
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="Doğuş Oto Pazarlama ve Tic. A.Ş" />
<meta name="keywords" content="lastik, dogusoto, bridgestone, continental, dayton, dunlop" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.1.1/css/all.css" integrity="sha256-sDavS/g73x8T307zVgovTicgH0L+tUxz8zanpAglqLo=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" integrity="sha256-YW7U7x59rUPZ3DWzQKbalM/9j2Cp8wapJVQPRxL4w1k=" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link rel="shortcut icon" href="@(cdnSetting.Url)/themes/admin/img/favicon.ico" />
<link href="@(cdnSetting.Url)/themes/admin/plugins/custom/datatables/datatables.bundle-2.css?v=@(cdnSetting.Version)" rel="stylesheet" type="text/css">
<link href="@(cdnSetting.Url)/themes/admin/plugins/global/plugins.bundle-2.css?v=@(cdnSetting.Version)" rel="stylesheet" type="text/css">
<link href="@(cdnSetting.Url)/themes/admin/css/style.bundle-2.css?v=@(cdnSetting.Version)" rel="stylesheet" type="text/css">